.about-company {
  width: 100%;
  height: 1378px;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about-company__area {
      width: 100%;
      height: 878px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h2 {
        width: 50%;
        span {
          font-weight: 500;
          font-size: 55px;
          line-height: 70px;
          color: var(--beige100);
        }
      }

      .about__company__text {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .about__company__title {
          height: 50px;
          font-weight: 400;
          font-size: 20px;
          line-height: 28.9px;
          color: var(--black60);
          display: flex;
          justify-content: space-between;
          align-items: start;
          border-bottom: 1px solid var(--stroke);
          cursor: pointer;
        }
        .about__company__title span {
          height: 100%;
        }
        .about__company__title .active {
          font-weight: 600;
          color: var(--beige100);
          border-bottom: 2px solid var(--beige100);
        }
        // .about__company__title span:hover {
        //   color: var(--beige70);
        //   border-bottom: 2px solid var(--beige70);
        //}
        .about__company__subtitle p:nth-child(1) {
          margin-bottom: 20px;
        }
      }
      .about__company__slider {
        width: 100%;
        height: 579px;
        position: relative;
        margin-top: 10px;
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .slide-area {
          position: absolute;
          top: 0;
          left: 0;
          width: 148px;
          height: 74px;

          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 30px;
          .slide {
            width: 70px;
            height: 70px;
            border: 1px solid var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              width: 17px;
              height: 20px;
            }
          }
          .slide.right {
            transform: rotate(180deg);
          }
          .slide:hover {
            border: 2px solid var(--beige40);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-company {
    width: 100%;
    height: 1378px;
    .wrapper {
      max-width: calc(100% - 40px);
      .about-company__area {
        height: 878px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        h2 {
          width: 100%;
          height: 100px;
          span {
            font-size: 45px;
            line-height: 50px;
          }
        }

        .about__company__text {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .about__company__title {
            height: 50px;
            font-weight: 400;
            font-size: 20px;
            line-height: 28.9px;
            color: var(--black60);
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid var(--stroke);
            cursor: pointer;
          }
          .about__company__title span {
            height: 50px;
          }
          .about__company__title .active {
            font-weight: 600;
            color: var(--beige100);
            border-bottom: 2px solid var(--beige100);
          }
          .about__company__subtitle p:nth-child(1) {
            margin-bottom: 20px;
          }
        }
        .about__company__slider {
          width: 100%;
          height: 579px;

          img {
            max-width: 100%;
            height: 454px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .about-company {
    width: 100%;
    height: 970px;
    .wrapper {
      max-width: calc(100% - 16px);
      .about-company__area {
        height: 670px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;

        h2 {
          width: 100%;
          height: 100px;
          span {
            font-size: 45px;
            line-height: 50px;
          }
        }

        .about__company__text {
          max-width: 100%;
          gap: 16px;

          .about__company__title {
            height: 50px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23.12px;
          }
          .about__company__title span {
            height: 50px;
          }
        }
        .about__company__slider {
          width: 100%;
          height: 579px;

          img {
            max-width: 100%;
            height: 240px;
          }
        }
      }
    }
  }
}
