header {
  height: 100px;
  display: flex;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: var(--white);

    img {
      width: 177px;
      height: 60px;
    }
    nav {
      max-width: 486px;
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          img {
            width: 10px;
            height: 5px;
          }
        }
      }
    }

    .top-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      .top-controls__button {
        width: 50px;
        height: 50px;
        border: 1px solid var(--stroke);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .callUs {
        background: var(--black100);
      }
      .language {
        width: 79px;
        gap: 10px;
        border-radius: 50px;
        img {
          width: 10px;
          height: 5px;
        }
      }
      .burger {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    .wrapper {
      max-width: calc(100% - 40px);
      width: 100%;
      nav {
        display: none;
      }

      .top-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        .callUs {
          display: none;
        }
        .language {
          display: none;
        }
        .burger {
          display: block;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  width: 350px;
  height: 188px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--beige40);

  display: flex;
  flex-direction: column;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

// .tooltip-box button {
//   width: 100%;
//   height: 25%;
//   background: var(--stroke);
//   color: white;
//   border: none;
//   padding: 5px 10px;
//   cursor: pointer;
//   border-radius: 4px;
//   color: var(--black100);
//   text-align: start;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 26px;
// }
.tooltip-box a {
  width: 100%;
  height: 25%;
  background: var(--stroke);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--black100);
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}
.tooltip-box a:hover {
  background: var(--beige40);
  color: var(--beige100);
}
.tooltip__arrow {
  transition: transform 0.3s ease-in-out;
}
.tooltip__arrow.rotated {
  transform: rotate(180deg);
}
